<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613485645872-vdm164t3arqqb0k950o7frv876c82sjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613485645872-vdm164t3arqqb0k950o7frv876c82sjt</string>
	<key>API_KEY</key>
	<string>AIzaSyDQj49RxYSfcOvr503utgSdLyNEAc_SO3E</string>
	<key>GCM_SENDER_ID</key>
	<string>613485645872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berebel.test</string>
	<key>PROJECT_ID</key>
	<string>berebel-91e18</string>
	<key>STORAGE_BUCKET</key>
	<string>berebel-91e18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613485645872:ios:581c43e234605007fc5df5</string>
	<key>DATABASE_URL</key>
	<string>https://berebel-91e18.firebaseio.com</string>
</dict>
</plist>