.header
{
    height: 4rem;
    &__title
    {
        &__image
        {
            text-align: center;
            width: 3rem;            
            height: 3rem;
            margin: .5rem auto;
            img
            {
                width: 100%;
                height: auto;
                max-height: 100%;
            }
        }
    }
}