<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay" *ngIf="user">
            <ion-content>
                <ion-item>
                    <ion-label>user?.name</ion-label>
                    <ion-note>user?.email</ion-note>
                </ion-item>
                <ion-button (click)="logout()">
                    {{ 'logout' | translate}}
                </ion-button>

            </ion-content>
        </ion-menu>
        <app-menu></app-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>